<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if num != '0' %}
        <p>{{ num }} bottles of beer on the wall. <a href="http://127.0.0.1:5000/bottle/{{ num|int-1 }}">Take one down</a></p>
    {% else %}
        <p>0 bottles of beer on the wall. <a href="http://127.0.0.1:5000/">Take me back to the way it was!</a></p>
    {% endif%}
</body>
</html>