.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: rgb(128, 158, 76);
  color: blanchedalmond;
}

.rating-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

.rating-list > li {
  border: 1px solid black;
  padding: 1em;
  cursor: pointer;
  margin: 0.2em;
  transition: 1s ease all;
}

.rating-list > li:hover {
  background-color: blanchedalmond;
  color: rgb(128, 158, 76);
  transform: scale(1.1);
}

.rating-list > li.selected {
  background-color: blanchedalmond;
  color: rgb(128, 158, 76);
  transform: scale(1.1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
