body {
    background-color: black;
    background-image: url('https://i.ibb.co/FWsMcDN/yharnam.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Mystery Quest','cursive';
    color: gold;
    font-size: 1.3vw;
}
#header-nav {
    border: 0.25rem solid gold;
    border-radius: 3rem;
    box-shadow: 0.25rem 0.25rem 14px 3px gold;
    color: gold;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1,ul {
    padding: 0 1.5rem;
    text-shadow: 0.2rem 0.2rem rgba(255, 217, 0, 0.348);
}
.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
#navlist {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    padding-right: 5rem;
}
.nav-btn {
    font-family: 'Mystery Quest', 'cursive';
    font-size: 1.65vw;
    width: 15vw;
    height: 5vw;
    margin: 0 1rem;
    border: 0.25rem solid gold;
    border-radius: 3rem;
    box-shadow: 0.1rem 0.1rem 8px gold;
    color: gold;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: linear 0.25s;
}
.nav-btn:hover:enabled {
    color: black;
    background-color: gold;
    transform: scale(1.1);
    box-shadow: 0.25rem 0.25rem 15px gold;
}
.nav-btn:active:enabled {
    color: black;
    background-color: gold;
    box-shadow: 0 0;
    transform: translate(0.25rem,0.25rem);
}
.nav-btn:disabled {
    color: rgba(255, 217, 0, 0.348);
    background-color: black;
    box-shadow: 0 0;
    cursor:progress;
    transform: translate(0.1rem, 0.1rem);
}
#welcome > h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5rem;
    letter-spacing: 0.65em;
    line-height: 2em;
    font-size: 3vw;
}
#progress {
    display: flex;
    justify-content: center;
}
.progress-main {
    margin-top: 4rem;
    font-size: 2vw;
    letter-spacing: 0.65em;
}
.reset-progress {
    margin: 0;
}

#page {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

.challenge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challenge-parent {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.challenge-box {
    border: 0.15rem solid rgb(226, 88, 34);
    border-radius: 3rem;
    box-shadow: 0.1rem 0.1rem 10px rgb(226, 88, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    margin: 1rem 2rem;
    cursor: pointer;
    transition: linear 1.5s;
    color: rgba(255, 217, 0, 0.75);
    background-color: black;
}
.challenge-box:hover {
    background-color: rgb(226, 88, 34);
    color: black;
    box-shadow: 0.45rem 0.45rem 15px rgb(226, 88, 34);
    transform: scale(1.1);
    transition: linear 0.2s;
}
.challenge-box > p {
    margin: 0.5rem 0;
}
.modify-btn {
    background-color: black;
    color: rgb(226, 88, 34);
    opacity: 0.7;
    cursor: no-drop;
    margin-top: 0.5rem 0;
    font-size: 0.8rem;
    border-radius: 2em;
    border: 0;
}
.pulse {
    transition: linear 1.5s;
    box-shadow: 0.1rem 0.1rem 2rem 0.3rem rgb(226, 88, 34);
    color: gold;
    transform: scale(1.1);
}
.challenge-box:active {
    transform: translate(0.1rem, 0.1rem) scale(1);
}

.edit-btn {
    cursor: pointer;
    width: 30%;
    border: 2px outset rgb(226, 88, 34);
    color: gold;
    transition: linear 0.2s;
}
.edit-btn:hover:enabled {
    background-color: rgb(248, 0, 0);
    color: black;
    box-shadow: 0.25rem 0.25rem 15px rgb(226, 88, 34);
    transform: scale(1.1);
    transition: linear 0.2s;
}
.edit-btn:active:enabled {
    transform: scale(1);
    box-shadow: 0 0;
}
.edit-btn:disabled {
    box-shadow: 0 0;
    background-color: grey;
    color: black;
    cursor: auto;
}
textarea {
    margin: 1em 0;
    border-radius: 2em;
    outline: 0;
    width: 80%;
    height: 4rem;
    padding: 1rem;
    font-size: 1vw;
}

#page > header, #page > form > header {
    display: flex;
    justify-content: center;
    width: 95%;
    border-bottom: 0.1rem solid gold;
    font-size: 2vw;
    text-shadow: 0.2rem 0.2rem rgba(255, 217, 0, 0.348);
    letter-spacing: 0.3em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.field-container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    font-size: 1.5vw;
}
.field-container-one {
    margin-top: 2rem;
}
.field-container-three {
    margin-bottom: 2rem;
}
input {
    outline: 0;
    border: 0.15rem inset gold;
    border-radius: 2em;
    width: 50%;
    opacity: 0.8;
    padding: 1rem;
    transform: scale(1.0);
    transition: transform 0.5s;
}
.expanded-input {
    transform: scale(1.5);
    transition: transform 0.5s;
}