<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello, {{ name }}!
    {% if age >= 18 %}
        Beers on the house! You have crossed {{ age }} years!
    {% else %}
        You are {{ age }} years old! Go away!
    {% endif %}
    {% if optional == 'on' %}
        You have agreed to the terms and conditions!
    {% else %}
        You have not agreed to the terms and conditions!
    {% endif %}
</body>
</html>