{% extends 'base.html' %}

{% block body %}
<form action="/food/create" method="POST">
    <div>
        <label for="food-name">Name</label>
        <input id="food-name" name="name" type="text" required>
    </div>
    <div>
        <label for="food-image">Image</label>
        <input id="food-image" name="url" type="text" required>
    </div>
    <div>
        <label for="food-price">Price in cents</label>
        <input id="food-price" name="price" type="number" required>
    </div>
    <button>Create Item</button>
</form>
<a href="javascript:history.back()">Go back a page</a>
{% endblock %}